<link rel="stylesheet" type="text/css" href="~/Content/Site.css">

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron transparent">
    <h1>ChurchVolunteer.NET</h1>
    <p class="lead">Welcome Volunteers! You are experiencing "Church Volunteer" an application to manage your Volunteers </p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Signing Up</h2>
        <p>
            Volunteers can easily sign up for an account to register their preferences.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Management</h2>
        <p>Events and the number of required volunteers can be set up to keep events on track. </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Self Service </h2>
        <p>Volunteers can sign themselves up for volunteer opportunites</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>